//Navbar.js styling to toggle classes
.nav__bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: -100%;
	z-index: 2;
	background: linear-gradient(to bottom, #1f2f98, #1ca7ec);
	transition: 0.5s;

	&.nav__bar--open {
		left: 0;
	}
}
