.header {
	width: 100vw;
	padding: 10px;
	background-image: linear-gradient(to bottom, #1f2f98, #1ca7ec);
}

.header__title {
	padding: 0 20px;
}

.header__logoicon {
	right: 0;
	margin: 0 0 0 auto;
	width: 40px;
}
